#m_page{
    background-color:rgb(195, 212, 215) ;
    position:absolute ;
    top: 0;
    left: 0;
}
#dv{
    background-color: rgba(178, 193, 124, 0.728);
    list-style-type:none;
    gap: 40px;
    padding: 40px;
    margin:0;
    display: flex;
    justify-content: flex-end;
    align-items:centre;
}
.header{
    color: rgb(155, 134, 166);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.in_head{
    color: chocolate;
}
.t_div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    color: rgb(116, 110, 86);
}